---
import Card from './Card/index.astro';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        <!-- Hi, I'm Shardul, a full-stack software developer from India.
        <br /> -->
        <br />
        My primary tools of choice include:
      </p>
      <ul class="list-disc list-inside space-y-2">
        <li>
          <strong class="color-red">Frontend:&nbsp;</strong>
          <div class="flex flex-wrap gap-1">
            <!-- <img
              src="https://img.shields.io/badge/html5-%23E34F26.svg?style=plastic&logo=html5&logoColor=white"
              alt="HTML5"
            />
            <img
              src="https://img.shields.io/badge/css3-%231572B6.svg?style=plastic&logo=css3&logoColor=white"
              alt="CSS3"
            /> -->
            <img
              src="https://img.shields.io/badge/React-%2320232a.svg?style=plastic&logo=react&logoColor=%2361DAFB"
              alt="React"
            />
            <img
              src="https://img.shields.io/badge/Next-black?style=plastic&logo=next.js&logoColor=white"
              alt="Next.js"
            />
            <img
              src="https://img.shields.io/badge/Javascript-%23323330.svg?style=plastic&logo=javascript&logoColor=%23F7DF1E"
              alt="JavaScript"
            />
            <img
              src="https://img.shields.io/badge/Typescript-%23007ACC.svg?style=plastic&logo=typescript&logoColor=white"
              alt="TypeScript"
            />
            <img
              src="https://img.shields.io/badge/MUI-%230081CB.svg?style=plastic&logo=mui&logoColor=white"
              alt="MUI"
            />
            <img
              src="https://img.shields.io/badge/Chart.js-F5788D.svg?style=plastic&logo=chart.js&logoColor=white"
              alt="Chart.js"
            />
            <img
              src="https://img.shields.io/badge/Electron-191970?style=plastic&logo=Electron&logoColor=white"
              alt="Electron"
            /><img
              src="https://img.shields.io/badge/Astro-%232C2052.svg?style=plastic&logo=astro&logoColor=white"
              alt="Astro"
            />
            <img
              src="https://img.shields.io/badge/Svelte-%23f1413d.svg?style=plastic&logo=svelte&logoColor=white"
              alt="Svelte"
            />
          </div>
        </li>
        <li>
          <strong class="color-red">Backend:&nbsp;</strong>
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/Node.js-6DA55F?style=plastic&logo=node.js&logoColor=white"
              alt="Node.js"
            />
            <img
              src="https://img.shields.io/badge/Express.js-%23404d59.svg?style=plastic&logo=express&logoColor=%2361DAFB"
              alt="Express"
            />
            <img
              src="https://img.shields.io/badge/-Microservices-264653?style=plastic&logo=microstrategy&logoColor=white"
              alt="Microservices"
            />
            <img
              src="https://img.shields.io/badge/Postgres-%23316192.svg?style=plastic&logo=postgresql&logoColor=white"
              alt="Postgres"
            />
            <img
              src="https://img.shields.io/badge/MongoDB-%234ea94b.svg?style=plastic&logo=mongodb&logoColor=white"
              alt="MongoDB"
            />
            <img
              src="https://img.shields.io/badge/Firebase-%23039BE5.svg?style=plastic&logo=firebase"
              alt="Firebase"
            />
            <img
              src="https://img.shields.io/badge/-REST%20API-white?style=plastic&logo=smartthings&logoColor=blue"
              alt="REST API"
            />
            <img
              src="https://img.shields.io/badge/Graphql-E10098?style=plastic&logo=graphql&logoColor=white"
              alt="GraphQL"
            />
          </div>
        </li>
        <li>
          <strong class="color-red">DevOps &amp; Hosting:&nbsp;</strong>
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/AWS-%23FF9900.svg?style=plastic&logo=amazon-aws&logoColor=white"
              alt="AWS"
            />
            <img
              src="https://img.shields.io/badge/Vercel-%23000000.svg?style=plastic&logo=vercel&logoColor=white"
              alt="Vercel"
            />
            <img
              src="https://img.shields.io/badge/Netlify-%23000000.svg?style=plastic&logo=netlify&logoColor=#00C7B7"
              alt="Netlify"
            />
            <img
              src="https://img.shields.io/badge/Nginx-%23009639.svg?style=plastic&logo=nginx&logoColor=white"
              alt="NGINX"
            />
            <img
              src="https://img.shields.io/badge/Docker-%230db7ed.svg?style=plastic&logo=docker&logoColor=white"
              alt="Docker"
            />
            <img
              src="https://img.shields.io/badge/CI%2FCD-333333?style=plastic&logo=githubactions&logoColor=white"
              alt="CI/CD"
            />
          </div>
        </li>
        <li>
          <strong class="color-red"
            >Third Party Tools Integrations:&nbsp;</strong
          >
          <div class="flex flex-wrap gap-1">
            <img
              src="https://img.shields.io/badge/ChatGPT-10a37f?style=plastic&logo=openai&logoColor=white"
              alt="ChatGPT"
            />
            <img
              src="https://img.shields.io/badge/Payment%20Services-4CAF50?style=plastic&logo=springsecurity&logoColor=black"
              alt="Payment Services"
            />
            <img
              src="https://img.shields.io/badge/Github-black?style=plastic&logo=github&logoColor=white"
              alt="GitHub"
            />
            <img
              src="https://img.shields.io/badge/Slack-4A154B?style=plastic&logo=slack&logoColor=white"
              alt="Slack"
            />
          </div>
        </li>
      </ul>
    </div>
    <p class="text-sm font-light">
      As a full-stack developer, I’m passionate about building seamless,
      user-centric experiences from designing intuitive interfaces to
      architecting robust backend systems.
    </p>
    <p class="text-sm font-light">
      I’m tool-agnostic and always prioritize the right solution for the task at
      hand, whether it's a new framework, a familiar library, or a completely
      different approach.
    </p>
    <p class="text-sm font-light">
      My focus is on delivering scalable, efficient, and thoughtful solutions
      for every project I take on.
    </p>
  </div>
</Card>
