---
import Card from './Card/index.astro';
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-8" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Shardul, a full-stack software developer from India.
        <br />
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>
          <strong>Frontend:</strong> HTML5 / CSS3, JavaScript (ES6+), TypeScript,
          React.js, Next.js
        </li>
        <li>
          <strong>Backend:</strong> Node.js, Express, Microservices Architecture,
          REST APIs, GraphQL
        </li>
        <li>
          <strong>DevOps & Hosting:</strong> AWS (EC2, SNS, S3, Lambda), Vercel,
          Netlify, NGINX, Docker
        </li>
        <li>
          <strong>Integrations:</strong> Payment Systems (Stripe, PayPal), Third-party
          APIs
        </li>
        <br />
      </ul>
    </div>
    <p class="text-sm font-light">
      As a full-stack developer, I’m passionate about building seamless,
      user-centric experiences from designing intuitive interfaces to
      architecting robust backend systems.
    </p>
    <p class="text-sm font-light">
      I’m tool-agnostic and always prioritize the right solution for the task at
      hand, whether it's a new framework, a familiar library, or a completely
      different approach.
    </p>
    <p class="text-sm font-light">
      My focus is on delivering scalable, efficient, and thoughtful solutions
      for every project I take on.
    </p>
  </div>
</Card>
